@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 tex-info mb-4">¡BIENVENIDO! Estamos alegres de poden atenderte</h1>
    
    <div class="alert alert-primary mb-4" role="alert">
        <h2 class="display-5">Capta más clientes</h2>
        <p>Gestiona fácilmente el contenido (texto e imágenes) de tu sitio web, con una interfaz super amigable.</p>
    </div>

    <div class="alert alert-primary mb-4" role="alert">
        <h2 class="display-5">Reduce costos</h2>
        <p>Olvídate de los gastos de impresión y distribución de su tienda. Llega a más personas sin mucho esfuerzo.</<p>
    </div>
    <div class="alert alert-primary mb-4" role="alert">
        <h2 class="display-5">Nuevo canal de ventas</h2>
        <p>Sistema de venta en línea que te permite estar presente a las 24 horas del día, los 365 días del año.</p>
    </div>
</div>
